:root {
  --font-sora: "Sora", sans-serif;

  --bg-home: #fafafa;
  --bg-default: #ffffff;

  --text: #424242;
  --blue: #0c76f8;

  --border: #ebebeb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sora);
  background: var(--bg-default);
  color: var(--text);
}

* {
  box-sizing: border-box;
}
